@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:wght@200;600;700&display=swap");
@import "months/style.css";
:root {
    --color-1: #124e78ff;
    --color-2: #f0f0c9ff;
    --color-3: #f2bb05ff;
    --color-4: #040107ff;
    --color-5: #6e0e0aff;
}
.hidden {
    display: none !important;
}
body {
    color: var(--color-1);
    font-family: "Poppins", sans-serif;
    margin: 0;
    background: var(--color-1);
    overflow: hidden;

    main {
        width: fit-content;
        h1 {
            text-align: center;
            margin: 0;
            font-size: 5rem;
        }
    }
    .scroll-elem {
        height: 100vh;
        width: 100vw;
        position: relative;
        z-index: 2;
        opacity: 0;
        filter: blur(10pt);
        section {
            @for $x from 1 through 15 {
                &[data-page="#{$x}"] {
                    background: var(--color-#{$x});
                }
            }
            &[data-page="1"] {
                opacity: 0;
                scale: 3;
                pointer-events: none;
                z-index: 999;
                background: transparent;
                mix-blend-mode: difference;
                img {
                    display: flex;
                    height: 100%;
                    object-fit: contain;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                }
                .content {
                    position: absolute;
                    top: 50%;
                    left: 70%;
                    translate: -50% -50%;

                    .final-message {
                        display: flex;
                        flex-direction: column;
                        opacity: 0;
                        h2 {
                            font-family: "Dancing Script";
                            font-size: 56pt;
                        }
                        h3 {
                            opacity: 0.8;
                            font-size: 24pt;
                            font-weight: 400;
                        }
                        h4 {
                            opacity: 0.6;
                            font-size: 16pt;
                            font-weight: 300;
                        }
                    }
                    .button-container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        opacity: 0;
                        height: 30vh;
                        gap: 24pt;
                        button {
                            border: 2pt solid var(--color-2);
                            height: 48pt;
                        }
                        button:hover {
                            color: var(--color-1);
                            background-color: var(--color-2);
                        }
                    }
                }
            }
            &[data-page="3"] {
                translate: 100% 0%;
            }
            &[data-page="4"] {
                translate: 0% 100%;
                overflow: hidden;
                position: relative;
                pointer-events: unset;
                .music-player-wrapper {
                    position: absolute;
                    top: 24pt;
                    right: 20%;
                    z-index: 5;
                    aspect-ratio: 1;
                    translate: 50% -50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    filter: blur(10pt) grayscale(1);
                    opacity: 0;
                    height: 24pt;
                    gap: 24pt;
                    lottie-player {
                        height: 24pt;
                        width: 24pt;
                        aspect-ratio: 1;
                    }
                    span {
                        height: 100%;
                        width: 240pt;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        ul {
                            display: flex;
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            translate: 240pt 0;
                            li {
                                p {
                                    white-space: nowrap;
                                    height: fit-content;
                                    align-items: center;
                                    width: 240pt;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
            &[data-page="5"] {
                translate: -50% 100%;
            }
            &[data-page="10"] {
                position: relative;
                overflow: hidden;
                translate: 0 100%;

                .image-container {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                    width: 500%;
                    display: grid;
                    grid-template-columns: repeat(10, 1fr);
                    grid-template-rows: repeat(10, 1fr);
                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                }

                img:nth-child(45),
                img:nth-child(46),
                img:nth-child(55),
                img:nth-child(56) {
                    scale: 4;
                    opacity: 0;
                    filter: blur(40pt);
                }
            }
            position: absolute;
            pointer-events: none;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            main {
                display: grid;
                grid-template-rows: repeat(2, auto);
                height: 40%;
                width: 40%;
                pointer-events: none;
                div {
                    position: relative;
                    .landing-text {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        translate: -50% -50%;
                    }
                    .landing-text.post {
                        z-index: 1;
                    }
                    #upperTextPost {
                        filter: blur(40pt);
                        opacity: 0;
                    }
                    #lowerTextPost {
                        mix-blend-mode: lighten;
                    }
                }
            }
        }
    }
}

section[data-page="4"] {
    pointer-events: none;
    .month-page {
        position: absolute;
        h2 {
            font-weight: 600;
        }
        .content-body {
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .yt-player {
                position: absolute;
                top: 0;
                left: 0;
                height: 24pt;
                width: 24pt;
            }
            .message-container {
                display: flex;
                opacity: 0;
                translate: 0 10pt;
                justify-content: space-between;
                height: 100%;
                width: 80%;
                align-items: center;
                lottie-player {
                    opacity: 1;
                    height: 20vw;
                    min-width: 20vw;
                }
                .message-body {
                    display: flex;
                    flex-direction: column;
                    opacity: 0;
                    translate: 0 100%;
                    padding: 60pt;
                    box-sizing: border-box;
                    text-align: left;
                    h6 {
                        font-size: 56pt;
                        margin: 12pt;
                        font-family: "Dancing Script";
                    }
                    p {
                        font-size: 16pt;
                        font-weight: 300;
                    }
                }
            }
        }
    }
    .month-page:nth-child(even) {
        .content-body {
            .message-container {
                flex-direction: row-reverse;
                .message-body {
                    text-align: right;
                }
            }
        }
    }
}

#loadingScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 999;
    color: var(--color-2);
    background-color: var(--color-4);

    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        position: relative;
        .text {
            position: absolute;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            z-index: 2;
        }
        button {
            position: relative;
            width: 8em;
            lottie-player {
                display: hidden;
                position: absolute;
                z-index: -1;
                translate: -50% -50%;
                top: 50%;
                left: 50%;
            }
            span {
                width: 100%;
                display: block;
                padding: 2em;
                backdrop-filter: blur(10px);
                border: var(--color-2) solid 2pt;
                transition-duration: inherit;
                opacity: 0;
                translate: 0 100%;
            }
            &:hover {
                span {
                    background-color: #ffffff44;
                }
            }
        }
    }
}
button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: var(--color-2);
    font-weight: bold;
    padding: 1em;
    box-sizing: border-box;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16/9;
}
